#Eclipse and netbeans
.classpath
.project
.settings
/nbproject

#build
/pom.xml
/dist
/build
/bin
/lib
/manifest.mf

#Repo
README
LICENSE.txt

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
